<app-sidebar></app-sidebar>
<div class="home-container" style="width: 80vw">
  <div class="home-title" style="background: none">
    <h1>Home</h1>
  </div>
  <div class="events">
    <div class="title">
      <h1 style="float:left;">Events </h1>
      <a style="float:right; color: white" routerLink="/dashboard/newevent" ><i class="mysmalls fa fa-plus"></i></a>
    </div>
    <div class="events-content" *ngFor="let event of events">
      <div class="pub"> <!--TODO: *ngIf="event.business.name == profile.name"-->
        <div>
          <p class="fa" style="font-weight: bold">{{ event.name }}</p>
          <a [routerLink]="['/dashboard/event', event.id]"><i style="color:black;" class="fa fa-pencil"></i></a>
          <p class="grey">{{ event.location }}</p>
          <p class="grey">{{ event.datetime }}</p>
          <p style="text-align: center"><i class="fa fa-check"></i>278</p>
        </div>
      </div>

    </div>
    <img class="background-image" src="assets/img/DashBoardFundo.png"/>
  </div>
  <div class="pubs">
    <div class="title">
      <h1 style="float: left">Ads</h1>
      <a style="float:right; color: white" routerLink="/dashboard/newad" ><i class="mysmalls fa fa-plus"></i></a>
    </div>
    <div class="pubs-content" *ngFor="let ad of ads">
      <div class="pub"> <!-- TODO:  *ngIf="isMyEvent(ad.event.id)"-->
        <div>
          <p class="fa" style="font-weight: bold">{{ getEventFromId(ad.event.id).name}} Add</p>
          <a [routerLink]="['/dashboard/ad', ad.id]"><i style="color: black;" class="fa fa-pencil"></i></a>
          <p class="grey">{{ ad.expire }}</p>
          <p class="grey">{{ ad.body }}</p>
          <p style="text-align: center"><i class="fa fa-heart"></i> 278</p>
        </div>
      </div>
    </div>
    <img class="background-image" src="assets/img/DashBoardFundo3.png"/>
  </div>
  <div class="profiles">
    <div class="title">
      <h1 style="display: inline-block">Profile</h1>
      <a class="edit-button" routerLink="/dashboard/profile"><i class="fa fa-pencil"></i></a>
    </div>
    <div class="profile-content">
      <div class="profile">
        <p class="prof-text">{{ profile.name }} | {{ profile.type }}</p>
        <p class="prof-text">{{ profile.address }}, {{ profile.location }}</p>
        <p class="prof-text">{{ profile.contact_email }} | {{ profile.contact_phone }}</p>
      </div>
    </div>
  </div>
  <div class="comments">
    <div class="title">
      <h1>Comments</h1>
    </div>
    <div class="comments-content" *ngFor="let comment of comments">
      <div class="comment" *ngIf="isMyEvent(comment.event.id)"> <!-- TODO: Notice this if not working-->
        <p style="font-weight: bold;margin-left: 4%">Comment in {{ getEventFromId(comment.event.id).name }} <a (click)="delete(comment.id)"><i style="color:black;" class="fa fa-trash"></i></a></p><!--TODO: Call delete comment function-->
        <p style="margin-left: 2.5%">
          <i *ngIf="comment.classification == 1 || comment.classification > 1" class="fa fa-star"></i>
          <i *ngIf="comment.classification == 2 || comment.classification > 2" class="fa fa-star"></i>
          <i *ngIf="comment.classification == 3 || comment.classification > 3" class="fa fa-star"></i>
          <i *ngIf="comment.classification == 4 || comment.classification > 4" class="fa fa-star"></i>
          <i *ngIf="comment.classification == 5 || comment.classification > 5" class="fa fa-star"></i>
        </p>
        <p class="grey" style="margin-top: -14%; margin-left: 4%">{{ comment.body}}</p>
      </div>
    </div>
    <img class="background-image" src="assets/img/DashBoardFundo2.png"/>
  </div>

</div>



