html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1{
  margin-top: 0.5vh !important;
  margin-bottom: 0vh!important;
}

.my-list{
  margin: 5%;
}

.list-group-item{
  padding: 5%;
}

.edit-list{
  color: black;
  margin: 0% 2%;
}
.black{
  float: right;
  color: black;
}
