<head>
  <title>goClubbing</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>
<body>
<div class="navbar">
  <div class="navbarLogo"><img src="/assets/img/logo.png"/></div>
  <div></div>
  <div class="navbarButton"><a href="/login/">I own a business</a></div>
</div>
<div class="container">
  <div class="searchBox">
    <h1>Looking for somewhere to go?</h1><br>
    <div class="searchBoxInputContainer">
      <form action="" >
        <input type="text" placeholder="Search for Places by name, location..." name="query"/><button type="submit" class="findButton">Find events</button>
      </form>
    </div>
    <br>
    <a href="/search/">See the map</a>
  </div>
</div>
</body>
