html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1{
  margin-top: 0.5vh !important;
  margin-bottom: 0vh!important;
}
.header {
  grid-area: top;
/*background-color: #c3c3c3;*/
background-color: white;
  text-align: center;
  box-shadow: 0px 4px 3px #d3d3d3;
  height: 100%;
  width: 100%;
  position: relative;
}
.header h1 {
  vertical-align: middle;
  font-size: 2.5vw;
  color: black;
}

.sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
  display: grid;
  grid-template-rows: 5vw 1fr;
  grid-template-areas:
        "title"
        "menus"
        "rest";
  background-color: #9DBEB9;
  height: auto;
  width: 100%;
  box-shadow: 5px 0px 10px #d3d3d3;
}


.nav-top-section {
  background-color: white;
  border-radius: 20px;
  margin: 1vw 1vh 5vh 1.9vh;
  height: 5vw;
  width: 13vw;
}

.container_logo_title {
  grid-area: title;
  position: relative;
}

.container_logo_title img {
  position: absolute;
  left: 2.3vw;
  height: 5vw;
}

.item {
  padding: 1vw 1vw 1vw 1vw;
  color: black;
  font-size: 1.3vw;
  background-color: white;
  margin: 3vh 2vw 0vh;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #d3d3d3;
}

.menus {
  grid-area: menus;
  margin-top: 2vh;
}

.menus-items {
  list-style-type: none;
  padding: 0px;

}

.bottom-menu {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 8%;
}


.exit {
  padding: 1vw 1vw 1vw 2vw;
  color: white;
  font-size: 1.3vw;
  background-color: black;
  margin: 0px 20px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #d3d3d3;
}

.nav-bottom-section {
  grid-area: rest;
}

#formus{
  background-color: rgba(0,68,82,0.9);
  border-radius: 1%;
  height: fit-content;
  width: 70%;
  margin: 5% auto;
  padding: 2%;
  color: white;
}
.form-title{
  margin-bottom: 5%;
}
.form-title, #formus label{
  color: white;
  z-index: 2;
  text-align: center;
}
.form-group{
  margin-bottom: 3%;
}
.hours label{
  width: 11vw !important;
  margin-bottom: 2%;

}
.hoursdiv textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw !important;

}
#formus label{
  border: #a22db0;
  width: 7vw;
}
#formus input{
  padding: 0.7%;
  width: 20vw;
}
.btn{
  border-radius: 8px !important;
  border-color: white !important;
  color: white !important;
  width: 10vw !important;
  font-weight: bold!important;
}
.btn:hover {
  background-color: white !important;
  color: #194350 !important;
}
