<!DOCTYPE html>
<html lang="en">
<body>
<div class="navbar">
  <div class="navbarLogo" onclick="window.location.href='/'"><img src="/assets/img/logo.png"/></div>
  <div></div>
  <div class="navbarButton"> <a href="/signup">Signup</a> </div>
</div>
<div class="container">
  <form action="." method="post" class="form-horizontal">
    <div *ngIf="message" class="message_{{ message.type }}">{{ message.body }}</div>

    <div class="form-group-login">
      <label for="usernameSignupTxt">Username:</label>
      <input type="text" id="usernameSignupTxt" placeholder="Username" (keyup)="setUsername($event)" />
    </div>
    <div class="form-group-login">
      <label for="passwordSignupTxt">Password:</label>
      <input type="password" id="passwordSignupTxt" placeholder="Password" (keyup)="setPassword($event)"/>
    </div>

    <button class="findButton" type="button" (click)="login()">Login</button>
  </form>
</div>
<script>
  document.getElementsByClassName("message_error").style.width="400";
  document.getElementsByClassName("message_success").style.width="400";
</script>
</body>
</html>
