<div class="container">
  <div class="navbar">
    <div class="navbarLogo"><a href="/"><img src="/assets/img/logo.png"/></a></div>
    <div class="filterContainer">
        <a href="/search/filter/">Filter</a>
    </div>
    <div class="searchBoxInputContainer">
      <input id="textbox" type="text" placeholder="Search for Places by name, location..." name="query"/><button id="button" type="submit" class="findButton">Find events</button>
    </div>
  </div>
  <div class="content">
    <div id="mymap" class="mapdiv"></div>
  </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
