
*{
  box-sizing: border-box;
  font-family: Verdana;
}

body{
  margin:0;
  overflow-x: hidden;
  overflow-y: hidden ;
}

.navbar{
  background-color: white;
  width: 100vw;
  padding: 7px 12px;
  display: flex;
  position:relative !important;
}

.navbarLogo {
  width: 20vw !important;
}

.navbar div{
  width: 100%;
  padding: 0px 10px;
}



.navbarLogo img{
  height: 64px;
}

.navbarSelect{
  width: fit-content !important;
  display: flex;
  align-items: center;
}

.navbarSelect select{

}

.navbarSearch{
  font-size: 13pt;
  border: 1px solid lightgray;
  border-radius: 18pt;
  outline: none;
  padding: 5px 10px;
}

.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.content{
  width:100%;
  height:100%;
  position:relative;
}

.searchBox{
  display: flex;
  flex-direction: column;
}

.searchBox input{
  border:1px solid lightgray;
  padding: 10px;
  width: 400px;
  outline: none;
}

.searchBox a{
  margin-top: 10px;
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.container iframe{
  position: relative !important;
  width:100%;
  height: 100%;
}

.modal{
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  background-color: white;
  width: 25vw;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
  transition: 0.5s all;
  z-index: 3;
}

.info{
  display: flex;
  height:64px;
}

.info .infoPic img{
  height:64px;
  border-radius: 32px;
}

.info .infoText{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.info .infoTextName{
  display: flex;
  align-items: center;
  height:100%;
}

.modalImages{
  margin-top: 15px;
  width:100%;
  display: flex;
  overflow-x: scroll;
}

.modalImages img{
  width:100%;
}

.map {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.searchBoxInputContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchBoxInputContainer input{
  margin:0px !important;
}

#textbox {
  width: 40vw;
  height: 5vh;
  margin-top: 2vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: black;
  padding: 1vw;
  background-color: white;
  color: black;
}

#button {
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
  border-color: black;
  height: 5vh;
  width: 7vw;
  background-color: black;
  color: white;
  padding-right: 1vw;
  font-size: 1vw;
}

.filterContainer {
  display: flex;
  width: 75vw !important;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vw;
  text-decoration: none;
}

.filterContainer a {
  text-decoration: none;
}
.filterContainer a:visited{
  text-decoration: none;
  color: black;
}

.ModalTitle{
  padding: 20px 5px;
  font-weight: bold;
  font-size: 15pt;
  border-bottom: 2px solid black;
}

.modalEvents{
  padding: 10px;
}

.modalEvent{
  width:100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.formLine {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw 1vw 2vw;
  align-content: center;
}

.formLine label {
  font-size: 1.2vw;
  width: 40%;
}

.formLine input {
  width: 100%;
  border-radius: 2vw;
  border-color: black;
  padding: 0.5vw;
}

.formLine select {
  width: 100%;
  border-radius: 2vw;
  border-color: black;
  padding: 0.5vw;
}

.formLine:first-of-type select {
  width: 50%;
  margin-right: 0.2vw;
}

#filterTitle {
  padding-left: 2vw;
}

#filterButton {
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: black;
  background-color: black;
  color: white;
}

.modal {
  padding: 1vw;
  width: 30vw;
}

.eventCard {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 2vw;
  padding: 1.5vw;
  padding-left: 1vw;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.eventCard > div  {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.nameAndBusiness {
  border-radius: 2vw;
  background-color: white;
  color: black;
  padding: 1vw;
}

.typeAndLocation {
  margin-top: 1vh;
}

.typeAndLocation > div {
  display: flex;
  justify-content: space-between;
}

.eventType {
  margin-left: 1vw;
}
.eventLocation {
  margin-left: 1vw;
}

.eventBusiness {
  font-size: 2vw;
}

.linkBusiness {
  text-decoration: none;
}

.linkBusiness:visited {
  text-decoration: none;
}

.modalEvents{
  padding: 10px;
}

.modalEvent{
  width:100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.modalEventTitle{
  font-size:12pt;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.modalEventTitle img{
  margin-right: 10px;
}

.modalEventImages{
  display: flex;
  overflow-x: scroll;
}

.modalEventImages img{
  width:100%;
}

.mapdiv{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:2;
}

*{
  box-sizing: border-box;
  font-family: Verdana;
}

body{
  margin:0px;
  overflow-x: hidden;
  overflow-y: hidden ;
}

.navbar{
  width: 100vw;
  padding: 15px;
  display: flex;
  box-shadow: 0px 10px 2px #d3d3d3;
  justify-content: space-between;
}

.navbarLogo {
  width: 20vw !important;
}

.navbar div{
  width: 100%;
  padding: 0px 10px;
}



.navbarLogo img{
  height: 64px;
}

.navbarSelect{
  width: fit-content !important;
  display: flex;
  align-items: center;
}

.navbarSelect select{

}

.navbarSearch{
  font-size: 13pt;
  border: 1px solid lightgray;
  border-radius: 18pt;
  outline: none;
  padding: 5px 10px;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.searchBox{
  display: flex;
  flex-direction: column;
}

.searchBox input{
  border:1px solid lightgray;
  padding: 10px;
  width: 400px;
  outline: none;
}

.searchBox a{
  margin-top: 10px;
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.container iframe{
  position: relative !important;
  width:100%;
  height: 100%;
}

.info{
  display: flex;
  height:64px;
}

.info .infoPic img{
  height:64px;
  border-radius: 32px;
}

.info .infoText{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.info .infoTextName{
  display: flex;
  align-items: center;
  height:100%;
}

.modalImages{
  margin-top: 15px;
  width:100%;
  display: flex;
  overflow-x: scroll;
}

.modalImages img{
  width:100%;
}

.map {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.searchBoxInputContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#textbox {
  width: 40vw;
  height: 5vh;
  margin-top: 2vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: black;
  padding: 1vw;
  background-color: white;
  color: black;
}

#button {
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
  border-color: black;
  height: 5vh;
  width: 7vw;
  background-color: black;
  color: white;
  padding-right: 1vw;
  font-size: 1vw;
}

.filterContainer {
  display: flex;
  width: 75vw !important;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vw;
  text-decoration: none;
}

.filterContainer a {
  text-decoration: none;
}
.filterContainer a:visited{
  text-decoration: none;
  color: black;
}

.ModalTitle{
  padding: 20px 5px;
  font-weight: bold;
  font-size: 15pt;
  border-bottom: 2px solid black;
}

.modalEvents{
  padding: 10px;
}

.modalEvent{
  width:100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.formLine {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw 1vw 2vw;
  align-content: center;
}

.formLine label {
  font-size: 1.2vw;
  width: 40%;
}

.formLine input {
  width: 100%;
  border-radius: 2vw;
  border-color: black;
  padding: 0.5vw;
}

.formLine select {
  width: 100%;
  border-radius: 2vw;
  border-color: black;
  padding: 0.5vw;
}

.formLine:first-of-type select {
  width: 50%;
  margin-right: 0.2vw;
}

#filterTitle {
  padding-left: 2vw;
}

#filterButton {
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: black;
  background-color: black;
  color: white;
}

.modal {
  padding: 1vw;
  width: 30vw;
}

.eventCard {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 2vw;
  padding: 1.5vw;
  padding-left: 1vw;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.eventCard > div  {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.nameAndBusiness {
  border-radius: 2vw;
  background-color: white;
  color: black;
  padding: 1vw;
}

.typeAndLocation {
  margin-top: 1vh;
}

.typeAndLocation > div {
  display: flex;
  justify-content: space-between;
}

.eventType {
  margin-left: 1vw;
}
.eventLocation {
  margin-left: 1vw;
}

.eventBusiness {
  font-size: 2vw;
}

.linkBusiness {
  text-decoration: none;
}

.linkBusiness:visited {
  text-decoration: none;
}

.modalEvents{
  padding: 10px;
}

.modalEvent{
  width:100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.modalEventTitle{
  font-size:12pt;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.modalEventTitle img{
  margin-right: 10px;
}

.modalEventImages{
  display: flex;
  overflow-x: scroll;
}

.modalEventImages img{
  width:100%;
}
