<div class="container">
  <div class="navbar" id="navbar">
    <div class="navbarLogo"><a href="/"><img src="/assets/img/logo.png"/></a></div>
    <div class="filterContainer">
        <a href="/search/filter/">Filter</a>
    </div>
    <div class="searchBoxInputContainer">
      <input id="textbox" type="text" placeholder="Search for Places by name, location..." name="query"/><button id="button" type="submit" class="findButton">Find events</button>
    </div>
  </div>
  <div class="content">
    <div id="mymap" class="mapdiv"></div>

    <div id="modal" class="modal">
      <div class="info">
        <div class="infoPic">
          <img src="{{ businessProfilePhoto }}"/>
        </div>
        <div class="infoText">
          <div class="infoTextName"><b>{{ businessName }}</b></div>
          <div class="infoTextName">{{ businessType }}</div>
        </div>
      </div>
      <div class="modalImages" *ngFor="let image of businessPhoto">
        <img src="{{ image }}"/>
      </div>
      <div class="ModalTitle">
        Events:
      </div>
      <div class="modalEvents" *ngFor=" let e of businessEvents">
        <div class="modalEvent">
          <div class="modalEventImages" *ngFor="let im of e['images']">
            <img src="../{{ im.path }}"/>
          </div>
          <div class="modalEventTitle">
            {{ e["name"] }} ({{ e["min_age"] }}+)
          </div>
          <div class="modalEventTitle">
            <img src="img/schedule.png"/>{{ e["datetime"] }}
          </div>
          <div class="modalEventTitle">
            <img src="img/location.png"/>{{ e["location"] }}
          </div>
          <div class="modalEventTitle">
            <img src="img/theme.png"/>{{ e["theme"] }}
          </div>
          <div class="modalEventTitle">
            <img src="img/dress-code.png"/>{{ e["dress_code"] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />-->
