.form-group-login{
    padding: 10px;
}

.form-group-login label{
    margin-bottom: 5px;
    font-size: 15pt;
}

.form-group-login input{
    padding: 10px;
    font-size: 13pt;
    width: 400px;
}

.findButton{
    font-size: 12pt;
    width: 100%;
    height: 8vh;
    border-radius: 20px;
    margin-top: 2vh;
}

.row{
    width: 100%;
    display: flex;
}

.message_error, .message_success{
    padding:10px;
    margin-left: 10px;
}

.message_success{
    background-color: #427e27;
    border: 1px solid #61b34e;
}

.message_error{
    background-color: #ae2323;
    border: 1px solid #f31717;
    color: #8f8f8f;
}

.form-horizontal {
    position: absolute;
    top: 20vh;
    left: 5vh;
}

.navbar {
    box-shadow:0px 4px 3px #d3d3d3;;
}
